<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/index.css" />
<%- include('./partials/nav') %>
<main>
  <h1>  <%= user ? "Hello " + user.profile.name + "!" : 'Login to start!' %></h1>
  <% if (user?.profile.avatar) { %>
    <div >
      <img class="profile-img"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>
<body>
  <% if (!user) { %>
  <img class="front-img"  src="/images/newcontroller.png">
  <% } %>
  <div class="title-quotes">
    <div class="secondPicDiv">
      <h1><strong>Update your progress as you go!</strong></h1>
    </div>
  <div class="thirdPicDiv">
  <h1>Never forget about a game in your backlog again!</h1>
  </div>
  
  </div>
</body>
<%- include('./partials/footer') %>
