<%- include('./partials/html-head') %>
<link
id="favicon"
rel="icon"

href="stylesheets/images/736540.png"
type="image/png"
sizes="32x32"></link>
<link rel="stylesheet" href="/stylesheets/games/index.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
<%- include('./partials/nav') %>
<main>
  <h1><bold>Hello <%= user ? user.profile.name : "" %></bold></h1>
  <% if (user?.profile.avatar) { %>
    <div >
      <img class="profile-img"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>
<body>
  <div class="title-quotes">
    <div class="secondPicDiv">
      <h1><strong>Update your progress as you go!</strong></h1>
    </div>
  <div class="thirdPicDiv">
  <h1>Never forget about a game in your backlog again!</h1>
  </div>
  </div>
</body>
<%- include('./partials/footer') %>
