<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <img src="https://cdn.wallpapersafari.com/28/80/6GJoaX.jpg" class="w3-circle" alt="" style="width:30%">
  <img src="" alt="">
  <img src="" alt="">
</main>

<%- include('./partials/footer') %>
