<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <!-- <img src="" alt="">
  <img src="" alt=""> -->
</main>
<body>
  <img class="firstPic" src="/media/pic1.jpg"  alt="">


</body>

<!-- https://cdn.wallpapersafari.com/28/80/6GJoaX.jpg -->
<%- include('./partials/footer') %>
