<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/games/<%= game._id %>?_method=PUT" method="POST">


    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input">
    <option value="<%= game.title %>"> <%= game.title %></option>

    <label for="hours-played-input">Hours played:</label>
    <input type="text" name="hoursPlayed" id="hours-played-input">

    <!-- <label for="completed-checkbox">Completed:</label>
    <input type="checkbox" name="completed" id="completed-checkbox" checked> -->
    <label for="completed:checkbox">Completed:</label>
    <input 
      type="checkbox"
      name="completed"
      id="completed:checkbox"
      <%= game.completed ? "checked" : "" %>
    >

    <button type="submit">Save changes to game</button>
  </form>
</main>

<%- include("../partials/footer") %>