<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<section>
  
  <% if (user) { %>
    <div class ="nav-text">
<h1><%= user.profile.name %>'s Account</h1>
<h1>My collection</h1>
<form action="/games" method="POST"></form>
<!-- <label>
  Name:
  <input type="text" name="name" autocomplete="off">
</label>
<button type="submit">Add 🎮</button> -->
</div>

  <% } %>

</section>
<main>
<h1>Game List:</h1>

<table id="list">
  <thead>
    <tr>
      <th>Title:</th>
    </tr>
  </thead>
  <tbody>
  <% games.forEach(game => { %>
  <tr>
    🎮
    <td><%= game.title %></td>
    <td><a href="/games/<%= game._id %>">Details</a></td>
    <td>
    <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
    <button type="submit">X</button>
    </form>
    </td>
    </tr>
  <% }) %>
  </tbody>
</table>
</main>

<%- include('../partials/footer') %>