<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/index.css" />
<%- include('../partials/nav') %>
<section>
  <% if (user) { %>
    <div class ="nav-text">
      <h1 id="profile-text"><%= user.profile.name %>'s Account</h1>
    </div>
  <% } %>
</section>
<main>
  <h1>Your collection:</h1>
  <p class="num-list">You have <%= games.length %> game(s) in your collection <i class="fas fa-gamepad fa-xs"></i></p>
  <table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Completed</th>
        <th></th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>
      <% if (games.length === 0 ) { %>
        <tr>
          <td colspan="4" style="text-align: center;">
          Add a game here by clicking "Add game" at the top.
          </td>
        </tr>
        <% } %>

      <% games.forEach(game => { %>
        <tr>
          <div id="list-border">
            <td><%= game.title %></td>
            <td> <%= game.completed ? 'Yes' : 'No' %></td>
            <td>
              <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                <button style="cursor: pointer;" id="trash-index" type="submit"><i class="fas fa-trash fa-xs"></i></button>
              </form>
            </td>
            <td><a id="details-btn" href="/games/<%= game._id %>">Details</a></td>
          </div>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<%- include('../partials/footer') %>