<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/land.css" />
<%- include('../partials/nav') %>
<section>
  
  <% if (user) { %>
    <div class ="nav-text">
<h1 id="profile-text"><%= user.profile.name %>'s Account</h1>
<!-- <form action="/games" method="POST"></form> -->
</div>

  <% } %>

</section>
<main>
  <h1>My collection:</h1>
  <p class="num-list">You have <%= games.length %> games in your collection <i <i class="fas fa-gamepad fa-xs"></i></p>
<table id="list">
  <thead>
    <tr>
      <th>Title:</th>
      <!-- <th>Hours played:</th>
      <th>Completed:</th>
      <th>Comments:</th> -->
    </tr>
  </thead>
  <tbody>
  <% games.forEach(game => { %>
  <tr>
    <div id="list-border">
    <td><%= game.title %></td>
    <td>
      <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
      <button type="submit"><i class="fas fa-trash fa-xs"></i></button>
    </form>
    <form action="/games/completed<%= game.id %>?_method=DELETE" method="PUT">
    <button type="submit">C</button>
    </form>
      </td>
      </div>
    <td><a id="details-btn" href="/games/<%= game._id %>">Details</a></td>

    </tr>
  <% }) %>
  
  </tbody>
</table>
</main>

<%- include('../partials/footer') %>