<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/forms.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div>
    <!-- <option value=""></option> -->
    <a href="/games/<%= game._id %>/edit">
      <button class="edit">Edit <i class="fas fa-edit fa-s"></i></button>
    </a>
  </section>
</div>
  <section>
    <table class="detail-table">
      <tbody>
        <tr>
          <td>
    <div><strong>Title:</strong> <br> <%= game.title %></div>
          </td>
          <td>
    <div><strong>Hours played:</strong> <br> <%= game.hoursPlayed %></div>
  </td>
  <td>
    <div><strong>ESRB rating:</strong> <br> <%= game.esrbRating %></div>
  </td>

        <td>
    <div><strong>Completed:</strong> <br> <%= game.completed ? 'Yes' : 'No' %></div>
  </td>
  </tr>
  </tbody>
  </table>
</section>
<!-- <h2>Comments</h2> -->





	<% if (game.comments.length) { %>
    <table class="comment-table">
      <thead>
        <tr>
          <th>Date</th>
					<th>Comment</th>
        </tr>
      </thead>
      <tbody>

        <% game.comments.forEach(function(comment) { %>

          <tr>
            <td><%= comment.createdAt.toLocaleDateString() %></td>
            <td><%= comment.content %></td>
						<td>
              <form action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button id="edit-trash-btn"><i class="fas fa-trash fa-s"></i></button>
              </form>
            </td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Comments Yet</h3>
  <% } %>
  <form class="comment-area"
  id="add-comment-form"
  action="/games/<%= game._id %>/comments"
  method="POST"
>
  <label for="content-textarea">Comments:</label>
  <textarea name="content" id="content-textarea"></textarea>
  <button type="submit">Add Comment</button>
</form>
</main>
  
<%- include('../partials/footer') %>