<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div>
    <!-- <option value=""></option> -->
    <a href="/games/<%= game._id %>/edit">
      <button class="edit">Edit</button>
    </a>
  </section>
</div>
  <section>
    <div><strong>Title:</strong> <%= game.title %></div>
    
    <div><strong>Hours played:</strong> <%= game.hoursPlayed %></div>



    <div><strong>Completed:</strong> <%= game.completed ? 'Yes' : 'No' %></div>
</section>
<h2>Comments</h2>
  <form 
    id="add-comment-form"
    action="/games/<%= game._id %>/comments"
    method="POST"
  >
    <label for="content-textarea">Comments:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Comment</button>
  </form>

	<% if (game.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
					<th>Comment</th>
        </tr>
      </thead>
      <tbody>

        <% game.comments.forEach(function(comment) { %>

          <tr>
            <td><%= comment.createdAt.toLocaleDateString() %></td>
            <td><%= comment.content %></td>
						<td>
              <form action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Comments Yet</h3>
  <% } %>
</main>
  
<%- include('../partials/footer') %>