<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title:</div>
    <div>
      <%= game.title %>
      <a href="/games/<%= game._id %>/edit">
        <button>Edit game</button>
      </a>
    </div>
    <div>Hours played: </div>
    <div><%= game.hoursPlayed %></div>
    <!-- <div>completed: </div>
    <div></div> -->

    <!-- <option value=""></option> -->
  </section>

</main>
  
<%- include('../partials/footer') %>