<%- include('../partials/html-head') %>
<link
id="favicon"
rel="icon"

href="/stylesheets/images/736540.png"
type="image/png"
sizes="32x32"></link>
<link rel="stylesheet" href="/stylesheets/games/forms.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
<%- include('../partials/nav') %>
<main >
  <h1><%= title %></h1>
  <div>
    <a  href="/games/<%= game._id %>/edit">
      <button style="cursor: pointer;" class="edit">Edit <i class="fas fa-edit fa-xs" ></i></button>
    </a>
  </div>
  <section>
    <table class="detail-table">
      <tbody>
        <tr>
          <td>
            <div><strong>Title:</strong> <br> <%= game.title %></div>
          </td>
          <td>
            <div><strong>Platform:</strong> <br> <%= game.platform %></div>
          </td>
          <td>
            <div><strong>Time played:</strong> <br> <%= game.hoursPlayed %></div>
          </td>
          <td>
            <div><strong>ESRB rating:</strong> <br> <%= game.esrbRating %></div>
          </td>
          <td>
            <div><strong>Genre:</strong> <br> <%= game.genre %></div>
          </td>
          <td>
            <div><strong>Completed:</strong> <br> <%= game.completed ? 'Yes' : 'No' %></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <% if (game.comments.length) { %>
    <table class="comment-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% game.comments.forEach(function(comment) { %>
          <tr>
            <td><%= comment.createdAt.toLocaleDateString() %></td>
            <td><%= comment.content %></td>
            <td>
              <form action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button id="edit-trash-btn"><i class="fas fa-trash fa-S"></i></button>
              </form>
            </td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Comments Yet</h3>
  <% } %>
  <form class="comment-area"
    id="add-comment-form"
    action="/games/<%= game._id %>/comments"
    method="POST"
  >
    <label for="content-textarea">Comments:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button style="cursor: pointer;" id="comment-btn" type="submit">Add Comment <i class="fas fa-comment fa-S" ></i></button>
  </form>
</main>
<%- include('../partials/footer') %>